.header {
  position: absolute;
  inset: 0 0 auto;
  z-index: 1;
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0 var(--header-padding-x);
}

@media (max-width: 599.98px) {
  .header {
    position: static;
  }
}
